{% extends 'base.html' %}
{% block content %}
    <table class="dataTable", id="quote-table">
        <thead class="thead-light", id="quote-table-data">
            <tr>
                <th class="text-field" scope="col", tabindex="0", rowspan="1", colspan="1">Delivery Date</th>
                <th class="text-field" scope="col", tabindex="0", rowspan="1", colspan="1">Delivery Address</th>
                <th class="number-field" scope="col", tabindex="0", rowspan="1", colspan="1">Gallons Requested</th>
                <th class="number-field" scope="col", tabindex="0", rowspan="1", colspan="1">Price Per Gallon</th>
                <th class="number-field" scope="col", tabindex="0", rowspan="1", colspan="1">Total Amount Due</th>
            </tr>
            <tr> 
                <td class="text-field">{{ request.session.fuel_quote_delivery_date }}</td>
                <td class="text-field">
                    <p>{{ request.session.fuel_quote_address1 }}</p>
                    <p>{{ request.session.fuel_quote_address2 }}</p>
                    <p>{{ request.session.fuel_quote_city }}, {{ request.session.fuel_quote_state }} {{ request.session.fuel_quote_zipcode }}</p>
                </td>
                <td class="number-field">{{ request.session.fuel_quote_gallons_requested }}</td>
                <td class="number-field">${{ request.session.fuel_quote_price_rate }}</td>
                <td class="number-field">${{ request.session.fuel_quote_total_due }}</td>
            </tr>
        </thead>
    </table>
    <form method="post" class="form-wrapper">
        {% csrf_token %}
        <button type="submit">Submit Quote</button>
    </form>
{% endblock content %}