* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 50px;
    background-color: rgb(43, 46, 46);
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btnLogin {
    width: 130px;
    height: 50px;
    border: 2px solid white;
    background: black;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
}

body {
    margin: 0%;
    padding: 0%;
    color: white;
    background-color: white;
}

span {
    color: red;
}

.content-wrapper {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 200px;
    display: flex;
    padding: 2rem 0rem;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(39, 26, 56);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    outline-color: #7451eb;
}

form {
    width: 350px;
}

form p {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-bottom: 3px;
}

form p input {
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: content-box;
}

form button {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    height: 35px;
    border-radius: 3px;
    color: white;
    border-color: rgb(45, 160, 60);
    background-color: rgb(45, 160, 60);
}

form button:hover {
    border-color: rgb(60, 180, 70);
    background-color: rgb(60, 180, 70);
}

input:invalid {
    background-color: rgb(255, 220, 220);
}

table {
    width: 100%;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    table-layout: auto;
}

table.dataTable {
    margin-top: 6px;
    margin-bottom: 6px;
    border-collapse: separate;
    border-spacing: 0;
}

thead {
    vertical-align: bottom;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

tr {
    vertical-align: middle;
}

td, th {
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-color: rgb(200, 200, 200);
    border-width: 0px;
    border-bottom-width: 1px;
}

tr *.text-field {
    text-align: left;
}

tr *.number-field {
    text-align: right;
}

.table-name {
    color: black;
    font-style: bold;
    margin-top: 10%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}