{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Price Calculator</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
</head>

<body>
    <header>
        <h2 class="logo">Fuel Quoter</h2>
        <nav class="navigation">
            {% block navbar %}
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}">Log in</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% else %}
                    <a href="{% url 'quote_history' %}">Quote History</a>
                    <a href="{% url 'profile' %}">Profile</a>
                {% endif %}
            {% endblock %}
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log out</a>
            {% endif %}
        </nav>
    </header>
    <div class="content-wrapper">
        {% block content %}
            <p>{{ message }}</p>
            <form method="post" class="form-wrapper">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Get Quote</button>
            </form>
        {% endblock content %}
    </div>
</body>
</html>